---
layout: default
---

<section class="single-wrap">
    <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">

        {% if page.date %}

        <div class="feat">
            <h5 class="page-date">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date:"%d-%m-%Y" }}
                </time>
            </h5>
        </div>

        {% endif %}

        <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>

        {% if page.subtitle %}
        <p class="post-heading__subtitle">
            {{ page.subtitle }}
        </p>
        {% endif %}

        {% if page.date %}
        <ul class="tag-list">
            {% for tags in page.tags %}
            <li class="tag-list__item">{{ tags }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div itemprop="articleBody">
            {{ content }}
        </div>

        {% if page.date %}
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>

        <h3>Komentáře</h3>
        <div class="fb-comments" data-numposts="10" data-width="100%"></div>
        {% endif %}


        <div class="feat share">

        </div>

        {% if page.next %}
        <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
            <span class="nav-title nav-title-next">Novější</span> &rarr;
        </a>
        {% endif %}
        {% if page.previous %}
        <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
            &larr; <span class="nav-title nav-title-prev">Starší</span>
        </a>
        {% endif %}
    </article>
</section>
